.shoe-details-content {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.shoe-img {
	display: none;
}

.shoe-img-mobile {
	width: 75%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3rem 0;
}

.shoe-details {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 200px 0 30px 0;
}

.add-btn {
	width: 87%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 2rem;
}

@media only screen and (min-width: 1584px) {
	h5 {
		margin: 0;
	}

	.shoe-details-content {
		display: flex;
		width: 87%;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin-left: 95px;
	}

	.shoe-img {
		width: 50%;
		/* border: 1px blue solid; */
		height: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.shoe-img-mobile {
		display: none;
	}

	.shoe-details {
		width: 50%;
		height: 64%;
		/* border: 1px green solid; */
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin: 0;
	}

	.details-prices-tabs {
		width: 100%;
		height: 290px;
	}

	.tabs {
		display: flex;
		width: 70%;
		height: 40px;
		justify-content: center;
		/* box-shadow: 0 5px 18px 1px #b1b1b1; */
		margin-left: 105px;
	}

	.details-box {
		width: 100%;
		margin-top: 15px;
		display: flex;
		justify-content: center;
	}

	.details-box p {
		line-height: 32.5px;
	}

	.details-tab {
		text-decoration: none;
		background: white;
		color: grey;
		font-size: 15px;
		width: 50%;
		border: none;
		border-radius: 0;
	}

	.prices-tab {
		text-decoration: none;
		background: white;
		color: grey;
		font-size: 15px;
		width: 50%;
		border: none;
		border-radius: 0;
	}

	.details-tab.active {
		background: black;
		color: white;
		/* border-bottom: 3px solid red; */
	}

	.prices-tab.active {
		background: black;
		color: white;

		/* border-bottom: 3px solid red; */
	}

	.details-description.active {
		width: 65%;
	}

	.prices-prices.active {
		width: 69%;
	}

	.details-description.inactive {
		display: none;
	}

	.prices-prices.inactive {
		display: none;
	}

	.sizes {
		display: flex;
		padding: 0;
		align-items: center;
		width: 100%;
		height: 260px;
		overflow-x: scroll;
	}

	.logo-row-ul {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 70px;
	}

	.size-row-ul {
		height: 240px;
		font-size: 20px;
		text-align: center;
		font-weight: 300;
		margin: 0;
		padding-left: 20px;
		list-style: none;
		width: 14%;
	}

	.prices-logo-li {
		padding-bottom: 30px;
	}

	.prices-logo-li:nth-child(1) {
		padding-bottom: 24px;
	}

	.prices-logo-li:nth-child(2) {
		padding-bottom: 27px;
	}

	.prices-logo-li:nth-child(3) {
		padding-bottom: 27px;
	}

	.prices-logo-li:nth-child(4) {
		padding-bottom: 25px;
	}

	.prices-logo-li:nth-child(5) {
		padding-bottom: 20px;
	}

	.prices-logo-li img {
		width: 70px;
	}

	.prices-li {
		width: 60px;
	}

	.prices-li:nth-child(1) {
		padding-top: 3px;
		font-size: 18px;
		font-weight: 700;
	}

	.prices-li:nth-child(2) {
		padding-top: 21px;
		padding-bottom: 14px;
		font-size: 18px;
	}

	.prices-li:nth-child(3) {
		padding-top: 10px;
		padding-bottom: 17px;
		font-size: 18px;
	}

	.prices-li:nth-child(4) {
		padding-top: 10px;
		padding-bottom: 8px;
		font-size: 18px;
	}

	.prices-li:nth-child(5) {
		padding-top: 19px;
		padding-bottom: 12px;
		font-size: 18px;
	}

	.hr0 {
		position: absolute;
		top: 430px;
		width: 471px;
		right: 218px;
		border: 1px solid #dadada;
	}

	.hr1 {
		position: absolute;
		top: 479px;
		width: 471px;
		right: 218px;
		border: 1px solid #dadada;
	}
	.hr2 {
		position: absolute;
		top: 524px;
		width: 471px;
		right: 218px;
		border: 1px solid #dadada;
	}
	.hr3 {
		position: absolute;
		top: 571px;
		width: 471px;
		right: 218px;
		border: 1px solid #dadada;
	}
}
