.trending-shoes {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  background: white;
}

.trending-shoes-img {
  width: 100%;
}

img {
  width: 100%;
}

.trending-shoes-details {
  height: 50%;
  width: 100%;
}

.content button {
  text-decoration: none;
  background: black;
  color: white;
  font-size: 18px;
  padding: 1rem;
  height: 30%;
  width: 17%;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.content button:hover {
  background: rgb(41, 41, 41);
  color: rgb(235, 235, 235);
}
