@media only screen and (min-width: 1440px) {
    .cta-shoelinks-img {
        height: 40%;
        width: 100%;
        background: black;
    }

    .shoelinks-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-top: 40px;
    }

    .shoelinks-title-links-filters-view {
        width: 98%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
        margin-right: 1.3rem;
    }

    .title-shoelinks-hover-icon {
        width: 43.2%;
        height: 20%;
        display: flex;
        align-items: flex-end;
    }

    .shoelinks-shoes-container.inactive {
        width: 1240px;
        display: flex;
        justify-content: center;
    }

    .shoelinks-shoes-container.active {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .shoelinks-options {
        display: none;
    }

    .shoelinks-options-mobile {
        display: none;
    }

    .shoelinks-shoes-content.inactive {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0 130px 0px;
    }

    .shoelinks-shoes-content.active {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 70px 20px;
    }

    .shoelinks-menu-list-icon.active {
        color: black;
    }
}

@media only screen and (min-width: 1920px) {
    .cta-shoelinks-img {
        height: 40%;
        width: 100%;
        background: black;
    }

    .shoelinks-content {
        width: 100%;
        height: 1700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 73px;
        margin-bottom: 0px;
    }

    .shoelinks-title-details {
        width: 85%;
        height: 8%;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        justify-content: flex-end;
    }

    .shoelinks-title-links-filters-view {
        width: 74%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    .shoelinks-search-links-results-details {
        width: 50%;
    }

    .title-shoelinks-hover-icon {
        width: 43.2%;
        height: 20%;
        display: flex;
        align-items: flex-end;
    }

    .shoelinks-shoes-container.inactive {
        height: 1900%;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
    }

    .shoelinks-shoes-container.active {
        height: 1700px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .shoelinks-options {
        width: 410px;
    }

    .shoelinks-options-mobile {
        display: none;
    }

    .shoelinks-shoes-content.inactive {
        height: 700px;
        width: 1900px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 200px;
    }

    .shoelinks-shoes-content.active {
        height: 700px;
        width: 68%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
    }

    .shoelinks-menu-list-icon.active {
        color: black;
    }
}

@media only screen and (max-width: 500px) {
    .cta-shoelinks-img {
        height: 40%;
        width: 100%;
        background: black;
    }

    .cta-shoelinks-img img {
        margin-top: 130px;
    }

    .shoelinks-title-details {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        margin: 3rem 0 0 2.1rem;
        justify-content: flex-end;
    }

    .shoelinks-content {
        height: 2600px;
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 300px;
    }

    .shoelinks-title-links-filters-view {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 2.5rem;
    }

    .title-shoelinks-hover-icon {
        width: 43.2%;
        height: 20%;
        display: flex;
        align-items: flex-end;
    }

    .shoelinks-shoes-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-left: 2rem;
    }

    .shoelinks-options {
        display: none;
    }

    .shoelinks-options-mobile {
        width: 100%;
        height: 40px;
        border: 1px solid black;
        margin-right: 40px;
    }

    .shoelinks-shoes-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .shoelinks-search-links-results-details {
        display: none;
    }

    .shoelinks-search-bar-details {
        display: none;
    }
}
