@media only screen and (min-width: 1440px) {
    .shoe-details-container {
        margin-top: 200px;
    }

    .details-tab h5 {
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 0.7rem;
        line-height: 0;
    }

    .prices-tab h5 {
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 0.7rem;
        line-height: 0;
    }

    .shoe-details h2 {
        margin: 30px 0;
        padding: 0;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 0;
    }

    .shoe-details-content {
        display: flex;
        width: 87%;
        justify-content: center;
        align-items: center;
        height: 540px;
        margin-left: 130px;
    }

    .shoe-img {
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shoe-img-mobile {
        display: none;
    }

    .shoe-details {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 80px;
    }

    .details-prices-tabs {
        width: 100%;
        height: 290px;
    }

    .tabs {
        display: flex;
        width: 70%;
        height: 40px;
        justify-content: center;
        /* box-shadow: 0 5px 18px 1px #b1b1b1; */
        margin-left: 105px;
    }

    .details-box {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    .details-box p {
        line-height: 32.5px;
        margin: 0;
        font-size: 15px;
        padding: 0;
        margin: 0;
    }

    .details-tab {
        text-decoration: none;
        background: white;
        color: grey;
        font-size: 15px;
        width: 50%;
        border: none;
        border-radius: 0;
    }

    .prices-tab {
        text-decoration: none;
        background: white;
        color: grey;
        font-size: 15px;
        width: 50%;
        border: none;
        border-radius: 0;
    }

    .details-tab.active {
        background: black;
        color: white;
        /* border-bottom: 3px solid red; */
    }

    .prices-tab.active {
        background: black;
        color: white;

        /* border-bottom: 3px solid red; */
    }

    .details-description.active {
        width: 70%;
        margin-left: 20px;
    }

    .prices-prices.active {
        width: 70%;
        margin-left: 27px;
    }

    .details-description.inactive {
        display: none;
    }

    .prices-prices.inactive {
        display: none;
    }

    .prices-stores {
        height: 47px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        /* margin-left: 5px; */
    }

    .prices-stores button {
        width: 94px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #e6e6e6;
        height: 100%;
        padding: 0;
    }

    .prices-stores button img {
        width: 70%;
    }

    .flightclub.active {
        background-color: black;
    }

    .stockx.active {
        background-color: black;
    }

    .goat.active {
        background-color: black;
    }

    .stadiumgoods.active {
        background-color: black;
    }

    .flightclub-sizes.active,
    .stockx-sizes.active,
    .goat-sizes.active,
    .stadiumgoods-sizes.active {
        width: 100%;
        height: 90%;
    }

    .flightclub-sizes.inactive,
    .stockx-sizes.inactive,
    .goat-sizes.inactive,
    .stadiumgoods-sizes.inactive {
        display: none;
    }

    .flightclub-ul,
    .stockx-ul,
    .goat-ul,
    .stadiumgoods-ul {
        list-style: none;
        padding: 0;
        margin: 20px 0 0 0;
        display: flex;
        width: 560px;
        height: 220px;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .flightclub-ul a,
    .stockx-ul a,
    .goat-ul a,
    .stadiumgoods-ul a {
        margin-right: 21px;
    }

    .flightclub-ul a,
    .stockx-ul a,
    .goat-ul a,
    .stadiumgoods-ul a,
    :hover {
        text-decoration: none;
        /* color: white; */
        /* background: rgb(31, 31, 31); */
    }

    .flightclub-li,
    .stockx-li,
    .goat-li,
    .stadiumgoods-li {
        width: 93px;
        height: 47px;
        background-color: black;
    }

    .details-in-stock {
        padding: 8px;
        color: white;
    }

    .details-na {
        color: black;
        background: white;
        border: 1px dashed #aaaaaa;
    }

    .flightclub-li p,
    .stockx-li p,
    .goat-li p,
    .stadiumgoods-li p {
        padding: 8px;
        text-align: center;
    }

    .carousel-indicators li {
        background-color: black;
    }

    .add-btn {
        width: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 2rem;
    }

    .add-btn.inactive {
        display: none;
    }

    .details-got-them.active {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        height: 10%;
        margin-top: 2rem;
        margin-left: 70px;
    }

    .details-got-them.inactive {
        display: none;
    }

    .details-condition-btn {
        font-size: 15px;
        /* font-weight: 600; */
        font-family: "Source Sans Pro", sans-serif;
        margin: 0px;
        color: white;
        background: black;
        padding: 1rem;
        border-radius: 5px;
    }

    .details-condition-btn:hover {
        background: rgb(34, 34, 34);
        color: white(31, 31, 31);
    }
}

@media only screen and (max-width: 500px) {
    .shoe-details-container {
        margin-top: 0;
    }

    .shoe-details-content {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .shoe-img {
        display: none;
    }

    .shoe-img-mobile {
        width: 75%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
    }

    .shoe-details {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 100px 0 30px 0;
    }

    .tabs {
        display: none;
    }

    .prices-prices {
        display: none;
    }

    .shoe-details h2 {
        font-size: 1.6rem;
    }

    .add-btn {
        width: 87%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 2rem;
    }
}
