.closet {
    height: 100vh;
    width: 100%;
    display: flex;
}

.closet-content {
    height: 100%;
    width: 80%;
}

.closet-empty-shoes {
    margin-top: 50px;
    margin-left: 50px;
    width: 91%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.closet-shoes {
    margin-top: 50px;
    margin-left: 50px;
    width: 91%;
    display: flex;
    flex-wrap: wrap;
}

.closet-empty-shoes img {
    width: 15%;
    margin-bottom: 30px;
}

.closet-shoes h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.closet-shoes p {
    font-size: 1rem;
    font-weight: 300;
}
