.portfolio {
    height: 100vh;
    width: 100%;
    display: flex;
}

.portfolio-content {
    height: 100%;
    width: 80%;
}

.pie-charts {
    display: flex;
    justify-content: space-around;
}

.coming-soon-alert {
    text-align: center;
}
