@media only screen and (min-width: 1440px) {
    .profile {
        height: 100vh;
        width: 100%;
        display: flex;
    }

    .profile-content {
        height: 100%;
        width: 80%;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #afafaf;
    }

    .edit-button.inactive {
        display: none;
    }

    .profile-info.inactive {
        display: none;
    }

    .profile-info {
        height: 20%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 3rem;
    }

    .profile-info-forms.active {
        height: 520px;
        margin-left: 3rem;
        display: flex;
        justify-content: center;
    }

    .edit-button {
        width: 160px;
        margin-left: 48px;
        margin-top: 97px;
    }

    .edit-container {
        height: 100%;
        width: 700px;
    }

    .edit-form {
        height: 100%;
    }

    .name-input,
    .username-input,
    .email-input,
    .email-input {
        height: 40px;
        width: 100%;
        background-color: white;
        border: 1px solid #c5c5c5;
        color: black;
        margin: 20px 0;
        padding: 0px 10px;
    }

    .shoeSize-input {
        height: 40px;
        width: 7%;
        background-color: white;
        border: 1px solid #c5c5c5;
        color: #c5c5c5;
        margin: 20px 0;
        padding: 0px 10px;
    }

    .edit-buttons {
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: space-around;
        align-items: center;
    }

    .edit-submit-button,
    .edit-cancel-button {
        width: 30%;
    }

    .profile-info-forms.inactive {
        display: none;
    }

    .username-shoesize {
        display: flex;
        width: 55%;
        height: 50%;
        justify-content: space-between;
        align-items: center;
    }

    .email-password {
        display: flex;
        width: 59.4%;
        height: 30%;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        height: 10%;
        width: 90%;
        text-align: center;
        font-size: 1.3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        margin-left: 3rem;
        border-bottom: 1px solid lightgray;
    }
}

@media only screen and (min-width: 1920px) {
    .profile {
        height: 100vh;
        width: 100%;
        display: flex;
    }

    .profile-content {
        height: 100%;
        width: 80%;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #afafaf;
    }

    .edit-button.inactive {
        display: none;
    }

    .profile-info.inactive {
        display: none;
    }

    .profile-info {
        height: 20%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 3rem;
    }

    .profile-info-forms.active {
        height: 520px;
        margin-left: 3rem;
        display: flex;
        justify-content: center;
    }

    .edit-button {
        width: 160px;
        margin-left: 48px;
        margin-top: 97px;
    }

    .edit-container {
        height: 100%;
        width: 700px;
    }

    .edit-form {
        height: 100%;
    }

    .name-input,
    .username-input,
    .email-input,
    .email-input {
        height: 40px;
        width: 100%;
        background-color: white;
        border: 1px solid #c5c5c5;
        color: black;
        margin: 20px 0;
        padding: 0px 10px;
    }

    .shoeSize-input {
        height: 40px;
        width: 7%;
        background-color: white;
        border: 1px solid #c5c5c5;
        color: #c5c5c5;
        margin: 20px 0;
        padding: 0px 10px;
    }

    .edit-buttons {
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: space-around;
        align-items: center;
    }

    .edit-submit-button,
    .edit-cancel-button {
        width: 30%;
    }

    .profile-info-forms.inactive {
        display: none;
    }

    .username-shoesize {
        display: flex;
        width: 55%;
        height: 50%;
        justify-content: space-between;
        align-items: center;
    }

    .email-password {
        display: flex;
        width: 59.4%;
        height: 30%;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        height: 10%;
        width: 90%;
        text-align: center;
        font-size: 1.3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        margin-left: 3rem;
        border-bottom: 1px solid lightgray;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        height: 10%;
        width: 88%;
        text-align: center;
        font-size: 1.3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 1rem;
        border-bottom: 1px solid lightgray;
    }

    .profile {
        display: flex;
    }

    .profile-content {
        height: 400px;
        width: 100%;
        margin-top: 100px;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #afafaf;
    }

    .edit-button.inactive {
        display: none;
    }

    .profile-info.inactive {
        display: none;
    }

    .profile-info {
        display: none;
    }

    .profile-info-mobile {
        height: 70%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 1rem;
    }

    .profile-info-mobile.inactive {
        display: none;
    }

    .user-info-mobile {
        height: 100%;
    }

    .user-info-mobile p {
        padding-top: 30px;
    }

    .profile-info-forms.active {
        margin-left: 1rem;
        display: flex;
    }

    .edit-button {
        width: 160px;
        margin-left: 15px;
        margin-top: 97px;
    }

    .edit-container {
        height: 100%;
        width: 290px;
    }

    .edit-form {
        height: 100%;
    }

    .name-input,
    .username-input,
    .email-input,
    .email-input {
        height: 40px;
        width: 100%;
        background-color: white;
        border: 1px solid #c5c5c5;
        color: black;
        margin: 20px 0;
        padding: 0px 10px;
    }

    .shoeSize-input {
        height: 40px;
        width: 7%;
        background-color: white;
        border: 1px solid #c5c5c5;
        color: #c5c5c5;
        margin: 20px 0;
        padding: 0px 10px;
    }

    .edit-buttons {
        display: flex;
        width: 317px;
        height: 50px;
        align-items: center;
    }

    .edit-submit-button {
        margin-right: 50px;
    }

    .edit-submit-button,
    .edit-cancel-button {
        width: 41%;
    }

    .profile-info-forms.inactive {
        display: none;
    }

    .username-shoesize {
        display: flex;
        width: 55%;
        height: 50%;
        justify-content: space-between;
        align-items: center;
    }

    .email-password {
        display: flex;
        width: 59.4%;
        height: 30%;
        justify-content: space-between;
        align-items: center;
    }
}
