.nav-container {
	height: 7%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: black;
	align-items: center;
	position: fixed;
}

.menu.inactive {
	display: none;
}

.menu.active {
	position: absolute;
	top: 75px;
	width: 240px;
	height: 230px;
	right: 40px;
}

.nav-bar {
	height: 100%;
	width: 90%;
	display: flex;
	justify-content: center;
}

.nav-logo {
	height: 100%;
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-icon-mobile {
	position: absolute;
	right: 15px;
	top: 10px;
}

.nav-links-container {
	display: none;
}

.other-content {
	display: none;
}

.account {
	display: none;
}

.account-content-container {
	width: 100%;
	height: 100%;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 0 0 5px 5px;
}

.account-content {
	width: 90%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.sign-in-bttn {
	height: 45%;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
}

button {
	text-decoration: none;
	background: black;
	color: white;
	font-size: 18px;
	padding: 1rem;
	width: 90%;
	border-radius: 5px;
	border: none;
}

button:hover {
	background: rgb(41, 41, 41);
	color: rgb(235, 235, 235);
}

@media only screen and (min-width: 1584px) {
	.nav-container {
		height: 9%;
		width: 100%;
		display: flex;
		flex-direction: column;
		background-color: black;
		align-items: center;
		position: inherit;
		z-index: 2;
	}

	.nav-bar {
		height: 100%;
		width: 90%;
		display: flex;
		justify-content: space-around;
	}

	.nav-logo {
		height: 100%;
		width: 15%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.nav-links-container {
		height: 100%;
		width: 55%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.other-content {
		width: 20%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.account {
		height: 25%;
		width: 17%;
		position: absolute;
		right: 8rem;
		top: 4.2rem;
	}

	.account-content-container {
		width: 100%;
		height: 100%;
		background: white;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		border-radius: 0 0 5px 5px;
	}

	.account-content {
		width: 90%;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.sign-in-bttn {
		height: 45%;
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
	}

	button {
		text-decoration: none;
		background: black;
		color: white;
		font-size: 18px;
		padding: 1rem;
		width: 90%;
		border-radius: 5px;
		border: none;
	}

	button:hover {
		background: rgb(41, 41, 41);
		color: rgb(235, 235, 235);
	}

	.nav-icon-mobile {
		display: none;
	}

	.search-bar-mobile {
		display: none;
	}

	.nav-links-container-mobile {
		display: none;
	}
}
