.cta-trending-img {
    height: 40%;
    width: 100%;
    background: black;
}

.trending-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 495px;
}

.title-links-filters-view {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.title-trending-hover-icon {
    width: 43.2%;
    height: 20%;
    display: flex;
    align-items: flex-end;
}

.trending-shoes-container.inactive {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.trending-shoes-container.active {
    height: 1700px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.options {
    width: 20%;
}

/* .options-mobile {
    display: none;
} */

.trending-shoes-content.inactive {
    height: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.trending-shoes-content.active {
    height: 700px;
    width: 68%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-list-icon.active {
    color: black;
}

@media only screen and (max-width: 600px) {
    .cta-trending-img {
        height: 40%;
        width: 100%;
        background: black;
    }

    .title-details {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        margin: 3rem 0 0 2.1rem;
        justify-content: flex-end;
    }

    .trending-content {
        height: 2600px;
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 300px;
    }

    .title-links-filters-view {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 2.5rem;
    }

    .title-trending-hover-icon {
        width: 43.2%;
        height: 20%;
        display: flex;
        align-items: flex-end;
    }

    .trending-shoes-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-left: 2rem;
    }

    .options {
        display: none;
    }

    .options-mobile {
        width: 100%;
        height: 40px;
        border: 1px solid black;
        margin-right: 40px;
    }

    .trending-shoes-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .search-links-results-details {
        display: none;
    }

    .search-bar-details {
        display: none;
    }
}
