@media only screen and (min-width: 1920px) {
    .trending {
        height: 320px;
        width: 22%;
        display: flex;
        flex-direction: column;
        margin: 0 25px 40px 0;
        background: white;
        /* border: red solid 1px; */
    }

    .trending.active {
        height: 320px;
        width: 94.6%;
        display: flex;
        flex-direction: column;
        margin: 0 25px 27px 0;
        background: white;
        /* border: red solid 1px; */
    }

    .trending-shoes {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(247 247 247);
    }

    .trending-shoes.active {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(247 247 247);
        margin-left: 10px;
    }

    .trending-shoes-img {
        width: 74%;
        height: 47%;
    }

    .trending-shoes-img.active {
        width: 20%;
        height: 100%;
        margin-left: 20px;
    }

    .trending-shoes-img img {
        width: 100%;
    }

    .trending-shoes-wrap {
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        background: rgb(247, 247, 247);
        border-radius: 0 0 6px 6px;
    }

    .trending-shoes-wrap.active {
        background: none;
    }

    .trending-shoes-details {
        height: 30%;
        width: 87%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .trending-shoes-details p {
        font-size: 14px;
        font-weight: 600;
        font-family: "Source Sans Pro", sans-serif;
        margin: 10px 10px 0px 10px;
    }

    .trending-prices {
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        margin-top: -50px;
    }

    .trending-prices.active {
        display: none;
    }

    .trending-prices p {
        font-weight: 300;
        margin: 0 10px;
    }

    .trending-add-to-closet.active {
        width: 7%;
        height: 30%;
        display: flex;
        align-items: flex-end;
        position: absolute;
        margin-left: 10px;
    }

    /* .trending-add-to-closet.active {
    list view 
} */

    .trending-add-to-closet.inactive {
        display: none;
    }

    .trending-got-them.active {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: absolute;
        width: 12%;
        height: 20%;
        margin-left: 10px;
    }

    .trending-got-them.inactive {
        display: none;
    }

    .trending-got-them-btn.active {
        width: 8.7%;
        height: 10%;
        border-radius: 13px;
        background-color: rgb(0, 189, 0);
        padding: 0px;
    }

    .trending-condition-btn {
        font-size: 13px;
        font-weight: 400;
        font-family: "Source Sans Pro", sans-serif;
        margin: 0px;
        color: grey;
    }

    .trending-got-them button {
        background: none;
        padding: 0;
        width: 40%;
        font-weight: 600;
    }

    .trending-condition-btn:hover {
        background: rgb(247, 247, 247);
        color: gray;
    }

    .trending-popup-box-container.active {
        z-index: 1;
        position: absolute;
        left: 640px;
        bottom: -270px;
    }

    .trending-popup-box-container.inactive {
        display: none;
    }
}

@media only screen and (min-width: 1920px) {
    .trending {
        height: 320px;
        width: 318px;
        display: flex;
        flex-direction: column;
        margin: 0 25px 40px 0;
        background: white;
        /* border: red solid 1px; */
    }

    .trending.active {
        height: 320px;
        width: 94.6%;
        display: flex;
        flex-direction: column;
        margin: 0 25px 27px 0;
        background: white;
        /* border: red solid 1px; */
    }

    .trending-shoes {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(247 247 247);
    }

    .trending-shoes.active {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(247 247 247);
        margin-left: 10px;
    }

    .trending-shoes-img {
        width: 100%;
        height: 47%;
        display: flex;
        justify-content: center;
    }

    .trending-shoes-img.active {
        width: 20%;
        height: 100%;
        margin-left: 20px;
    }

    .trending-shoes-img img {
        width: 100%;
    }

    .trending-shoes-wrap {
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        background: rgb(247, 247, 247);
        border-radius: 0 0 6px 6px;
    }

    .trending-shoes-wrap.active {
        background: none;
    }

    .trending-shoes-details {
        height: 30%;
        width: 87%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .trending-shoes-details p {
        font-size: 14px;
        font-weight: 600;
        font-family: "Source Sans Pro", sans-serif;
        margin: 10px 10px 0px 10px;
    }

    .trending-prices {
        height: 27%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        margin-top: -50px;
    }

    .trending-prices.active {
        display: none;
    }

    .trending-prices p {
        font-weight: 300;
        margin: 0 10px;
    }

    .trending-add-to-closet.active {
        width: 7%;
        height: 15%;
        display: flex;
        align-items: flex-end;
        position: absolute;
        margin-left: 10px;
    }

    /* .trending-add-to-closet.active {
    list view 
} */

    .trending-add-to-closet.inactive {
        display: none;
    }

    .trending-got-them.active {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: absolute;
        width: 14%;
        height: 15%;
        margin-left: 10px;
    }

    .trending-got-them.inactive {
        display: none;
    }

    .trending-got-them-btn.active {
        width: 5.7%;
        height: 10%;
        border-radius: 13px;
        background-color: rgb(0, 189, 0);
        padding: 0px;
    }

    .trending-condition-btn {
        font-size: 13px;
        font-weight: 400;
        font-family: "Source Sans Pro", sans-serif;
        margin: 0px;
        color: grey;
    }

    .trending-got-them button {
        background: none;
        padding: 0;
        width: 40%;
        font-weight: 600;
    }

    .trending-condition-btn:hover {
        background: rgb(247, 247, 247);
        color: gray;
    }

    .trending-popup-box-container.active {
        z-index: 1;
        position: absolute;
        left: 640px;
        bottom: -270px;
    }

    .trending-popup-box-container.inactive {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .trending {
        height: 18rem;
        width: 42%;
        display: flex;
        flex-direction: column;
        margin: 0 25px 40px 0;
        background: white;
        /* border: red solid 1px; */
    }

    .trending-shoes {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(247 247 247);
    }

    .trending-shoes-img {
        width: 74%;
        height: 40%;
    }

    .trending-shoes-img img {
        width: 100%;
    }

    .trending-shoes-wrap {
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        background: rgb(247, 247, 247);
        border-radius: 0 0 6px 6px;
    }

    .trending-shoes-details {
        height: 100%;
        width: 87%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .trending-shoes-details p {
        font-size: 14px;
        font-weight: 500;
        font-family: "Source Sans Pro", sans-serif;
        margin: 5px 0 0 10px;
    }

    .trending-prices {
        height: 0;
        display: flex;
        position: absolute;
        margin-top: 105px;
    }

    .trending-prices p {
        font-weight: 300;
        margin: 0 10px;
    }

    .got-them {
        width: 5%;
        border: 2px black solid;
        height: 6%;
        border-radius: 13px;
        margin-left: 10px;
    }

    .trending-add-to-closet.active {
        display: none;
    }

    .trending-got-them.inactive {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 15%;
        height: 42%;
        margin-left: 10px;
    }

    .trending-got-them-btn.inactive {
        width: 23%;
        height: 5%;
        border-radius: 13px;
        background-color: rgb(0, 189, 0);
        padding: 0px;
    }

    .trending-condition-btn {
        display: none;
    }
}
