@media only screen and (min-width: 1440px) {
    .cta-trending-img {
        height: 40%;
        width: 100%;
        background: black;
    }

    .trending-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-top: 40px;
    }

    .trending-shoes-container.inactive {
        width: 1240px;
        display: flex;
        justify-content: center;
    }

    .trending-shoes-container.active {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .trending-shoes-content.inactive {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0 130px 0px;
    }

    .trending-shoes-content.active {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 70px 20px;
    }

    .title-details {
        width: 1190px;
        height: 60px;
        display: flex;
        align-items: center;
        margin-top: 0;
        justify-content: center;
        margin-bottom: 20px;
    }

    .title-links-filters-view {
        width: 98%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
        margin-right: 1.3rem;
    }

    .title-trending-hover-icon {
        width: 43.2%;
        height: 20%;
        display: flex;
        align-items: flex-end;
    }

    .options {
        display: none;
    }

    .options-mobile {
        display: none;
    }

    .menu-list-icon.active {
        color: black;
    }
}

@media only screen and (min-width: 1920px) {
    .cta-trending-img {
        height: 40%;
        width: 100%;
        background: black;
    }

    .trending-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        margin: 0;
    }

    .trending-shoes-container.inactive {
        width: 1750px;
        display: flex;
        justify-content: center;
        margin-left: 90px;
    }

    .trending-shoes-container.active {
        width: 1750px;
        display: flex;
        justify-content: center;
        margin-left: 90px;
    }

    .trending-shoes-content.inactive {
        width: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0 0 130px 150px;
    }

    .trending-shoes-content.active {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 0 130px 150px;
    }

    .title-details {
        width: 1300px;
        height: 70px;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        margin-bottom: 20px;
        justify-content: center;
    }

    .title-links-filters-view {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
        margin-right: 100px;
    }

    .title-trending-hover-icon {
        width: 43.2%;
        height: 20%;
        display: flex;
        align-items: flex-end;
    }

    .options {
        width: 410px;
    }

    .options-mobile {
        display: none;
    }

    .menu-list-icon.active {
        color: black;
    }
}

@media only screen and (max-width: 500px) {
    .cta-trending-img {
        height: 40%;
        width: 100%;
        background: black;
    }

    .cta-trending-img img {
        margin-top: 130px;
    }

    .title-details {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        margin: 3rem 0 0 2.1rem;
        justify-content: flex-end;
    }

    .trending-content {
        height: 2600px;
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 300px;
    }

    .title-links-filters-view {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 2.5rem;
    }

    .title-trending-hover-icon {
        width: 43.2%;
        height: 20%;
        display: flex;
        align-items: flex-end;
    }

    .trending-shoes-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-left: 2rem;
    }

    .options {
        display: none;
    }

    .options-mobile {
        width: 100%;
        height: 40px;
        border: 1px solid black;
        margin-right: 40px;
    }

    .trending-shoes-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .search-links-results-details {
        display: none;
    }

    .search-bar-details {
        display: none;
    }
}
