.app {
	height: 100vh;
	width: 100%;
}

.main-container {
	height: 100vh;
	width: 100%;
}

.shoelinks-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.shoelinks-title-details {
	width: 78%;
	height: 20%;
	display: flex;
	align-items: center;
	margin-top: 3.5rem;
	justify-content: flex-end;
}

.shoelinks-links-results-details {
	width: 50%;
}

.shoelinks-searchbar-details {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 48%;
}

.shoelinks-shoes-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.shoelinks-options {
	width: 20%;
}

.shoelinks-shoes-content {
	/* height: 50%; */
	width: 65%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
